{% extends "base.html" %}


{% block conteudo %}

<div class="row">
    <div class="col-sm-6">
        <form action="." method="GET" class="form-inline">
        <input type="text" class="form-control" id="search" name="search" placeholder="Procurar por">
        <input type="submit" class="btn btn-primary" style="margin-left: 10px;" value="Buscar">
        </form>
    </div>
</div>

<div class="page-header">
    <h2>Lista de Prdutos
        <span class="pull-right">
            <a href="{% url 'produto:adicionar_produto' %}">
                <button type="button" class="btn btn-primary">
                    <span class="fa fa-plus"></span> Adicionar
                </button>
            </a>
        </span>
    </h2>

    {% if lista_objetos %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">Importado</th>
                    <th>NCM</th>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th class="text-center">Estoque</th>
                    <th class="text-center">Estoque Mínimo</th>
                </tr>
            </thead>
            <tbody>
                {% for objeto in lista_objetos %}
                    <tr>
                        <td class="text-center">
                            {% if objeto.importado %}
                                <i class="fa fa-check-circle ok"></i>
                            {% else %}
                                <i class="fa fa-minus-circle no"></i>
                            {% endif %}
                        </td>
                        <td>{{ objeto.ncm }}</td>
                        <td>
                            <a href="{{ objeto.get_absolute_url }}">{{ objeto.produto }}</a>
                        </td>
                        <td>R$ <span class="pull-right">{{ objeto.preco }}</span></td>
                        <td class="text-center">{{ objeto.estoque }}</td>
                        <td class="text-center">{{ objeto.estoque_minimo }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="alert alert-warning">Sem itens na lista</p>
    {% endif %}
</div>

{% endblock conteudo %}