
<!-- Este template exibe os detalhes de uma saída específica de estoque.

Extende de "base.html" e utiliza o bloco "conteudo" para inserir 
conteúdo específico da página.

Inclui um link para voltar à lista de saídas de estoque.
Exibe informações detalhadas da saída de estoque, 
incluindo Nota Fiscal, Data e Funcionário.

Também exibe uma tabela com os produtos relacionados a esta saída 
de estoque, mostrando a quantidade e o saldo de cada produto. -->
    

{% extends "base.html" %}

{% block conteudo %}


<!-- Link para voltar à lista de entradas de saída -->
<a href="{% url 'estoque:lista_estoque_saida' %}">Voltar</a>

<!-- Título da página, utilizando o nome do objeto (saída de estoque) -->
<h1>{{ objeto }}</h1>

<div class="col-sm-6">
    <table class="table table-user-information">
        <tbody>
            <tr>
                <th class="text-right">Nota Fiscal</th>
                <!-- Exibe o número da Nota Fiscal formatada -->
                <td>{{ objeto.nf_formato }} </td>
            </tr>
            <tr>
                <th class="text-right">Data</th>
                <!-- Exibe a data de criação da saída de estoque -->
                <td>{{ objeto.criado_em }}</td>
            </tr>
            <tr>
                <th class="text-right">Funcionário</th>
                <!-- Exibe o nome do funcionário responsável pela saída de estoque -->
                <td>{{ objeto.funcionario.first_name }}</td>
            </tr>
        </tbody>
    </table>
</div>

<table class="table table-striped">
    <!-- Cabeçalhos da tabela de produtos relacionados à saída de estoque -->
    <thead>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Saldo</th>
        </tr>
    </thead>
    <tbody>
        <!-- Itera sobre todos os produtos relacionados à saída de estoque -->
        {% for obj in objeto.estoques.all %}
            <tr>
                <!-- {# Exibe o nome do produto #} -->
                <td>{{ obj.produto }}</td>
                <!-- {# Exibe a quantidade do produto na saída de estoque #} -->
                <td>{{ obj.quantidade }}</td>
                <!-- {# Exibe o saldo do produto após a saída de estoque #} -->
                <td>{{ obj.saldo }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock conteudo %}