<!-- Este template exibe uma lista de entradas ou saídas de estoque.
Extende de "base.html" e utiliza o bloco "conteudo" para inserir 
conteúdo específico da página.
Inclui um título que virá da rota se será entrada ou saída e um botão para 
adicionar novas entradas ou saídas de estoque.
Se houver objetos na lista de entradas ou saídas de estoque, exibe-os em uma tabela com colunas 
para Item, NF, Data e Funcionário.
Se não houver objetos, exibe uma mensagem de aviso. -->

{% extends "base.html" %}

{% block conteudo %}

<!-- Captura o retorno da view para definir se irá mostrar a lista de entrada ou saída -->
<h2>Estoque {{ titulo }}
    <span class="pull-right">
        <!-- Direciona para a rota de adicionar uma nova entrada/saída -->
        <a href="{% url url_add %}">
            <button type="button" class="btn btn-primary">
                <span class="fa fa-plus"></span>
                Adicionar
            </button>
        </a>
    </span>
</h2>

{% if object_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Item</th>
                <th>NF</th>
                <th>Data</th>
                <th>Funcionário</th>
            </tr>
        </thead>
        <tbody>
            {% for objeto in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'estoque:detalhes_estoque' objeto.pk %}">{{ objeto }}</a>
                    </td>
                    <td>{{ objeto.nf_formato }}</td>
                    <td>{{ objeto.criado_em }}</td>
                    <td>{{ objeto.funcionario }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="alert alert-warning">Sem itens na lista</p>
{% endif %}

{% endblock conteudo %}
